 .fullRegisterSection{
    display: flex;
    justify-content: center;
    align-items: center;
      padding: 30px;
  }
  .editRegisterForm{
      width: 50vw;
      padding: 20px;   
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      flex-direction: column;
  }
  .formGroup input[type="text"],
    .formGroup input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .formGroup label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    .submitButton {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      font-weight: bold;
      padding: 12px 20px;
      border: none;
      width: 100%;
      border-radius: 4px;
      margin-top: 30px;
      cursor: pointer;
      &:hover{
background-color: darkred;
      }
    }