*{
    padding: 0%;
    margin: 0%;
}
.Navbar ul {
    display: flex;
    list-style: none;
    padding: 20px;
}
.Navbar ul li {
    padding: 5px 20px;
}
.link{
    text-decoration:none  ;
color: black;
}
.link:hover{
text-decoration: underline;
}
